.todo-list-item-label, .todo-list-item {
  font-size: 1.25rem;
}
.list-group-item {
  padding: 0.35rem;
}

.todo-list-item button {
  width: 32px;
  margin: 4px;
}

.todo-list-item-label {
  margin-left: 1rem;
  line-height: 36px;
  cursor: pointer;
  user-select: none;
}

.todo-list-item.done .todo-list-item-label {
  text-decoration: line-through;
}

.todo-list-item.important .todo-list-item-label {
  font-weight: bold;
  color: steelblue;
}

.buttons {
  float: right;
}